@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: border-box;
}

body {
    background-color: #000;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    color: #fff;
    width: 100%;
    height: auto;
}

.container {}
#notificationBanner {
    background-color: rgb(200, 0, 0);;
    color: rgb(255, 210, 73);
    font-size: 20px;
    padding: 10px;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#countdown {
    margin-left: 10px;
    font-weight: bold;
    display: inline-block;
}

#countdown span {
    margin: 0 5px;
    font-size: 24px;
}

#closeButton {
    font-size: 27px;
    color: rgb(255, 210, 73);
    position: absolute;
    right: 20px;
    cursor: pointer;
}
#hours ,#minutes ,#seconds{
    border: 1px solid rgb(128,11,11);
    border-radius: 8px;
    outline: 1px solid transparent;
    padding: 3px;
}



.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
   
}
.whatsapp-icon a {
    text-decoration: none;
}
.whatsapp-icon button{
     width: 99px;
    border: 1px;
    cursor: pointer;
    color: #111111;
    background-color: #fff;
    padding: 2px 1px;
    margin: 10px 6px;
    border-radius: 4px;
    box-shadow: 0 0 5px #d3d3d3;
    font-size: 17px;
    height: 32px;
    text-decoration: none;
}


.wht{
    display: flex;
    flex-direction: row;
}

.whatsapp-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(26 219 7 / 20%);
    background: #22CD5B;;
    border: 2px solid #78e778;
    box-shadow: 0 0 8px #c2c2c2;
    

}
.google {
    display: flex;
    justify-content: space-around;

}




.one {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 2vh;
    line-height: normal;
    color:#e6a43a;
    margin-bottom: 2vh;
}

.one:hover {
    cursor: text;
}

.two {
    background-color: #161616;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(255, 255, 255);
    padding: 4px;
}

.three {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    background-color: #080808;
    border: none;
    display: flex;
    height: 64px;
    flex-direction: row;
}

.line {
    height: 32px;
    font-size: 24px;
    padding: 4vh;
}

.navbar {
    text-decoration: none;
    color: #fff;
}

.logo {
    margin-left: 36px;
    cursor: pointer;

}

.content {
    padding: 30px;
    margin-left: 59px;
    overflow: hidden;
    list-style: none;
}

.content ul {
    display: flex;
    flex-direction: row;
    padding-left: 165px;
}

.content li {

    justify-content: center;
    align-items: center;
    font-weight: 750;
    font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    margin-bottom: 20px;
    font-size: 14px;
    list-style-type: none;
    padding-left: 18px;
}

.content li a {
    text-decoration: none;
    color: white;
    list-style-type: none;
}
.card-container {
   display: flex;
   flex-direction: row;
border: 2px solid transparent;
border-radius: 8px;
    position: absolute;
    top: 189px;
    left: 402px;
    width:42%;
    background-color: transparent;
    box-shadow: 0 8px 16px transparent;
    padding: 20px;
    z-index: 1000;
    height: 406px;
    flex-wrap: wrap;
    backdrop-filter: blur(2px);

}

.card-1 {
    width: 109px;
    margin: 10px;
    padding: 20px;
    border: 1px solid transparent;
    float: left;
}
.card-1 img {
    margin-left: -49px;
    margin-top: -51px;
    width: 144px;
    height: 205px;
    border-radius: 8px;
}

.search {
    display: flex;
    flex-direction: row;
    width: 84px;
    height: 32px;
    margin-left: 270px;
    margin-top: 20px;
    cursor: pointer;
}
.icon-chevron-down {

    width: 0.5em;
    height: 0.5em;
    margin-left: 0.5rem;

}
.fa-regular {
    margin-top: 9px;
}
.block_arrow_image {
    margin-left: 58px;
}



.four-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 197px;
    margin-top: 177px;
}


.four-3 {


    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    color: #dfdada;
    width: 26%;
    opacity: 0.5;
}

.four-2 {
    margin-right: 165px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -400px;
    border-radius: 15px;
}

.h3 {
    font-size: 52px;
    line-height: 30px;
    margin: 0 0 40px;
    font-family: "Roboto", sans-serif;
    color: white;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 700;
}

.h3 span {
    font-family: "Homemade Apple", cursive;
    letter-spacing: 0;
    font-size: 49px;
    padding-left: 0;
    margin-left: 7px;
    line-height: 70px;
    color: #d0ff00;
    font-weight: 300;
}

.btn {
    transition: ease all 0.3s;
    font-size: 17px;
    line-height: 1.6;
    padding: 12px 55px;
    color: #000;
    border: solid 2px #17dd7e;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    border-radius: 30px;
    font-weight: 550;
    letter-spacing: 1px;
    display: inline-block;
    background-color: #17dd7e;
    margin-left: -6px;
    margin-top: 18px;
    width: 12%;
    gap: 10px;
    letter-spacing: 2px;
}

.btn:hover {
    color: #000;
    box-shadow: 0px 0px 30px #17dd7e;
}

.five {
    justify-content: center;
    padding-right: 0;
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.five a {
    text-decoration: none;
}
.discp {
    letter-spacing: 0px;
    color: #ffffff;
    font-size: 18px !important;
    line-height: 22px;
    font-family: Montserrat, sans-serif;
    width: 87%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    margin-top: -104px;
    margin-left: 20px;
    font-weight: 400;
    cursor: pointer;
}

.discp span {
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
}

.five-1 {
    margin-right: 17px;
    border-radius: 20px;
    cursor: pointer;
}

#five-id {
    padding-left: 167px;
}

#arrow {
    margin-left: 122px;
    cursor: pointer;
}

.six {
    text-align: center;
    background-color: #000;
    margin-top: 10px;
    backface-visibility: hidden;
    height: 750px;
}

.section_title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9200f7;
    font-size: 65px;
    font-family: "Roboto", sans-serif;
    letter-spacing: normal;
    background-color: #000;
    padding-top: 47px;
}

.section_title span {
    font-size: 70px;
    color: #fff;
    font-weight: 400;
    font-family: "Homemade Apple", cursive;
}

.six-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sect {
    background-color: #181717;
    border: 2px solid black;
    width: 15%;
    display: flex;
    flex-direction: row;
    height: 142px;
    border-radius: 22px;
    margin: 9px;
    padding-left: 40px;
}

.img5 {
    width: 16%;
    border-radius: 22px;
    margin-left: -51px;
}

.seven {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* overflow: scroll; */
    position: relative;
    scrollbar-width: none;
    border: 0px solid rgb(0, 0, 0);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 100%;
    gap: 14px;
    height: 370px;
    padding: 0px;
    margin: 0px;
    z-index: 0;
    font-size: inherit;
    -webkit-overflow-scrolling: touch;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    
}

.section-7 {
    display: block;
    box-sizing: border-box;
    margin-top: -123px;
    cursor: pointer;
}


.seven::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}
.paragraph{
    margin-top: 14px;
    font-weight: bold;
    text-align: center;
}

.grid {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    margin-bottom: 55px !important;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 35px;
    list-style: none;
    padding: 0;
}



.i4 {
    width: 26%;
    height: 65px;
    margin-top: 36px;
    margin-left: -16px;
}

.para1 {
    margin: 0;
    font-size: 21px;
    font-family: MontserratSemiBold;
    font-weight: 550;
    padding: 29px;
    padding-top: 39px;
}

.eight {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.eight-1 {
    display: flex;
    flex-direction: row;
}

.eight-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img7 {
    margin-left: -523px;
    margin-top: 164px;
}

.img8 {
    margin-left: 172px;
}

.custom {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #d0ff00;
    font-size: 57px;
    margin-top: 320px;
    margin-left: 21px;
    letter-spacing: 1px;
}

.para3 {
    color: white;
    font-family: "Homemade Apple", cursive;
    font-weight: 200;
    margin-top: -37px;
}

.para_animaction_top1 {
    width: 60%;
    font-size: 19px;
    margin-top: 33px;
    margin-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.para_animaction_top2 {
    width: 60%;
    font-size: 19px;
    margin-top: 33px;
    margin-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-2 {
    transition: ease all 0.3s;
    font-size: 16px;
    line-height: 1.6;
    padding: 12px 55px;
    color: white;
    border: solid 2px #17dd7e;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline-block;
    width: 100%;
    margin-top: 62px;
    margin-left: 43px;
    background-color: #000;
    cursor: pointer;
}

.btn-2:hover {
    box-shadow: 0px 0px 30px #17dd7e;
    color: #000;
    background-color: #17dd7e;
}

.nine {
    display: flex;
    flex-direction: row;
    background-color: #1c192a8c;
    backdrop-filter: blur(10px);
    z-index: 1;
    flex-wrap: wrap;
    padding: 35px 65px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 15px;
    width: 74vw;
    margin: 32px 115px 15px 115px;
    height: 66px;
}

.nine-1 {
    display: flex;
    flex-direction: row;
}

.para9 {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 26px;
    font-family: Montserrat, sans-serif;
}

.para9-1 {
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat, sans-serif;
    font-size: 21px;
    margin-top: 11px;
}

.img9-1 {
    margin-left: -72px;
    margin-top: -4px;
}

#arr {
    height: 44px;
    width: 30%;
    margin-top: 18px;
}

.ten {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 160px;
    margin-right: 195px;
}

.ten-1 {
    margin-left: 165px;
}

.ten-2 {
    margin-left: 105px;
}

.btn10 {
    cursor: pointer;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font: 1.125rem Oswald, Arial, sans-serif;
    height: 56px;
    letter-spacing: 1px;
    margin: 0 25px 0 auto;
    padding: 14px;
    position: relative;
    text-decoration: none;
    width: 240px;
    z-index: 2;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: 2.7px solid transparent;
    border-image: linear-gradient(72deg, #8629cf 0, #fe0f90 51%, #f5b936 100%)1;
    color: #fff;
    background-clip: border-box;
}

.btn10:hover {
    background-image: linear-gradient(72deg, #8629cf 0, #fe0f90 51%, #f5b936 100%);
    color: #fff;
}

.para10 {
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
}

.floro_btn_animaction_top1 {
    margin-top: 50px;
}

.eleven {
    text-align: center;
    display: block;
    box-sizing: border-box;
    margin-top: 105px;
}

.eleven-1 {
    color: #9200f7;
    font-size: 60px;
    font-family: "changa", sans-serif;
    letter-spacing: 3px;
}

.eleven-1 span {
    font-family: "Homemade Apple", cursive;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}

.jazz {

    font-family: "Homemade Apple", cursive;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    margin-left: 20px;
}

.jazz-h2 {

    font-size: 52px;
    line-height: 30px;
    margin: 2px 4px;
    margin-left: 2px;
    font-family: "Roboto", sans-serif;
    color: #9200f7;
    letter-spacing: 2;
    font-style: normal;
    font-weight: 700;

}


.eleven-2 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -43px;
    display: flex;
    flex-direction: column;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel .card {
    height: 342px;
    list-style: none;
    background: black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: start;
    cursor: pointer;
}
.card{
    width: 331px;
    margin-right: -52px;
    text-decoration: none;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.card .img {
    background-color: black;
    width: 189px;
    height: 148px;
    border-radius: 18px;
}
.carousel a {
    text-decoration: none;
}

.card .img img {
    width: 250px;
    height: 258px;
    object-fit: cover;
    border-radius: 18px;
    border: 4px solid black;
}


.wrapper {
    max-width: 800px;
    width: 100%;
    margin-left: 230px;
    margin-top: 54px;
}

.wrapper i {
    height: 50px;
    width: 50px;
    background: yellow;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    color: #080808;
}

.wrapper i:first-child {
    
    margin-left: -82px;
    margin-top: 157px;
}


.wrapper i:last-child {
    margin-left: 52em;
    margin-top:-199px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% /3)- 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
    scroll-behavior: smooth;
}
.carousel{
    width: 990px;
}

.carousel ::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100%/2)-9px);
    }
}

@media screen and (max-width:600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}



.product-name {
    font-size: 16px;
    margin: 10px 0;
    color: #fff;
    text-decoration-line: none;
}
.product-name:hover{
    text-decoration: underline;
}

.product-price {
    font-size: 14px;
    color: #8E24AA;
    font-weight: 700;
    text-decoration: none;
}

.original-price {
    text-decoration: line-through;
    color: #AAA;

}

.sale-badge {
    background-color: #8E24AA;
    color: black;
    padding: 5px;
    position: relative;
    border-radius: 5px;
    font-size: 12px;
    margin-top:-22px;
    margin-left: -166px;
    font-weight: 500;
    text-decoration: none;
}




.thirteen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.thirteen-1 {
    width: 50%;
    border-radius: 18px;
    padding: 30px;
}

.thirteen-2 {
    width: 25%;
    padding: 8px;
}

.fourteen {
    padding: 20px 65px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 70px auto 0;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    background-color: #1c1f339e;
    backdrop-filter: blur(10px);
}

.fifteen {
    display: flex;
    flex-direction: row;
}

.fifteen-1 {
    flex-direction: column;
    width: 35%;
    padding-top: 145px;
    padding-left: 65px;
}

.slider {
    position: relative;
    width: 65%;
    max-width: 789px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;

    margin-top: 60px;
}

.slide {
    display: none;
    text-align: center;
    margin: 90px;

}

.slide.active {
    display: block;
}

.testimonial {
    font-size: 1.0em;
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
    color: #555;
}

.author-name {
    color: #fff;
    font-weight: bold;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigation button {
    color: #d0ff00;
    border: none;
    padding: 10px 20px;
    border-radius: 32px;
    cursor: pointer;
    border: 2px solid #d0ff00;
}

.navigation button:hover {
    color: #000;
    background-color: #d0ff00;
}


.slide-img {
    display: flex;
    flex-direction: row;
}

.side-para {
    display: flex;
    flex-direction: column;
}




.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
    color: #D1F231;
    background: none;
    border: 2px solid #D1F231;
    z-index: 1;
    background-color: #191919;
    font-size: 25px;
    padding: 10px;
    border-radius: 28px;
    width: 7%;

}

.carousel__button--left {
    left: 10px;

}

.carousel__button--right {
    right: 10px;
}

.carousel__button:focus {
    outline: none;
}

.seventeen {
    display: flex;
    flex-direction: column;
    background-color: #9200F7;
    margin-top: 60px;
    padding-left: 55px;
    padding-right: 55px;

}

.seventeen-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seventeen-1 img {
    max-width: 100%;
    width: 75px;

}

.seventeen-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0 60px !important;
}

.seventeen-left {
    flex-basis: 60%;
    display: block;
    box-sizing: border-box;
}

.seventeen-left h2 {
    font-size: 26px;
    font-family: Eurostile_Extended;
    letter-spacing: normal;
    margin: 0.83em 0;
}

.seventeen-left p {
    width: 75%;
    display: block;
}

.seventeen-right form {
    width: 100%;
    max-width: 35rem;
}

#e-mail {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 2px 0 0 2px;
    text-align: left;
    max-width: 100%;
    line-height: 1.2;
    font-size: 15px;
    font-family: Helvetica, Helvetica Neue, Arial, Lucida Grande, sans-serif;
    font-style: normal;
    font-weight: 400;
    touch-action: manipulation;
    font: inherit;
    padding: 15px;
}

#phoneno {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 2px 0 0 2px;
    text-align: left;
    font-size: 15px;
    font-family: Helvetica, Helvetica Neue, Arial, Lucida Grande, sans-serif;
    font-style: normal;
    font-weight: 400;
    touch-action: manipulation;
    font: inherit;
    max-width: 100%;
    line-height: 1.2;
    padding: 15px;

}

.newcmn_btn {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    width: 36%;
}

.newcmn_btn:hover {
    background-color: #fff;
    color: #161616;
    box-shadow: none;
}




.faq-container {
    max-width: 600px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #fff;
    margin-left: 9em;

    margin-top: 7em;
    width: 82%;
    max-width: 1034px;
}

.faq-header {
    padding: 10px;
    cursor: pointer;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 3.5em;
    color: #fff;
    letter-spacing: 4px;
}

.faq {
    margin-top: 10px;
}

.question {
    cursor: pointer;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    flex-direction: row-reverse;
    border-bottom: 2px solid #fff;
    padding: 22px;
    margin-left: 4em;
    font-size: 19px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 10px;
    margin: 0;
    margin-left: 4em;
    letter-spacing: 1px;
    padding: 2px;
    line-height: 22px;


}

.answer p {
    margin: 10px 0;
    margin-left: 1em;
    color: #e1dbdb;
}

.answer li {
    margin-left: 2em;
    color: #e1dbdb;


}

.plus-sign {
    margin-right: 10px;
    transition: transform 0.3s ease;
}



footer {
    padding: 20px;
    background-color: #222;
    color: #fff;
    margin-bottom: 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px 110px 12px 110px;
    line-height: 26px;

}

.footer-column {
    width: 20%;
    margin-bottom: 20px;
}


.footer-column h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 5px;
}

.newsletter {
    display: flex;
    margin-top: 10px;
    width: 272px;
}

.newsletter input {
    width: calc(100% - 40px);
    padding: 15px;
    border: none;
    outline: none;
    color: #080808;
    font-size: 15px;
    background-color: #ccff00;
}

input::placeholder {
    font-weight: 300;
    color: #000;
}

.newsletter button {
    width: 40px;
    background-color: #ccff00;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.footer-middle {
    margin: 20px 0;
    font-size: 14px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    padding: 5px 110px 5px 110px;
}

.footer-middle p {
    padding-top: 25px;
    padding-bottom: 39px;
    line-height: 27px;
}

.footer-bottom {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
    font-size: 14px;
}

.some {
    align-items: center;
    display: flex;
    margin-left: -10em;
}

.help p,
.reviews p {
    margin: 0;
    line-height: 1.5;
}

.stars {
    color: #aa00ff;
}

.reviews a {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    border: 1px solid #444;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}



.footer-social {
    border-top: 1px solid #444;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 10px 0;
    font-size: 14px;
    padding-top: 32px;
    align-items: center;
    margin-left: -345px;

}

.footer-social ul {
    flex-direction: row;
    display: flex;
}

.footer-social a {
    display: inline-block;
    margin: 0 10px;
}

.footer-social img {
    width: 41px;
    height: 41px;
}

.icon__fallback-text {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.footer-social li {
    list-style-type: none;
}

/* Media Queries for responsiveness */

@media (max-width: 1200px) {
    .content {
        margin-left: 0;
        text-align: center;
    }

    .four-1,
    .four-3,
    .four-2 {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;

    }

    .h3,
    .btn,
    .section_title {
        text-align: center;
    }

    #img14 {
        width: 40%;
    }
}

@media (max-width: 768px) {

    .btn,
    .three,
    .btn-2,
    .ten-1,
    .ten-2,
    .nine {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .six-2 {
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 110px;
        padding: 0 10px 0 5px;

    }

    .search {
        margin-top: -121px;
        margin-right: -10px;
    }



    .content {
        margin-left: 0;
    }

    .btn,
    .btn-2 {
        width: 80%;
        margin-left: 0;
    }

    .para10 {
        text-align: center;
    }

    .ten-1,
    .ten-2 {
        margin-left: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .nine,
    .six,
    .five,
    .four,
    .one,
    .seven,
    .eight,
    .ten,
    .eleven,
    .five-1 {
        flex-direction: column;
        height: auto;
        padding: 20px;
        display: grid;
        justify-content: center;
    }

    .four-2 {
        border-radius: 10px;
        height: auto;
        width: 100%;
        top: 0;
        order: 1;
        justify-content: center;
    }

    .eight-2 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .five-1 {
        margin-bottom: 40px;
    }

    .two {
        height: 70px;
        width: max-content;
    }

    .p {
        font-size: 12px;
    }

    #img14 {
        width: 40%;
    }


}

@media (max-width: 480px) {
    .four {
        margin-bottom: 10px;
    }

    .h3 {
        font-size: 32px;
    }

    .h3 span {
        font-size: 29px;
    }

    .section_title {
        font-size: 40px;
    }

    .section_title span {
        font-size: 45px;
    }

    .btn,
    .btn-2 {
        font-size: 14px;
        padding: 10px 40px;
    }

    .para1,
    .para3,
    .para9,
    .para9-1,
    .para10,
    .eleven-1,
    .eleven-2 {
        font-size: 16px;
    }

    .para_animaction_top1,
    .para_animaction_top2 {
        font-size: 16px;
    }

    .nine,
    .six,
    .five,
    .four,
    .one,
    .seven,
    .eight,
    .eleven,
    .fourteen,
    .thirteen {
        display: grid;
        align-content: space-between;
        align-items: center;
        justify-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .grid {
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: auto;
        align-content: center;
        margin-left: 0;
    }

    .content {
        flex-wrap: wrap;
    }

    .btn,
    .three,
    .btn-2,
    .ten-1,
    .ten-2,
    .ten,
    .nine,
    .floro_btn_animaction_top1,
    .fourteen,
    .thirteen {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    .five-1 {
        margin-bottom: 40px;
    }

    #img14 {
        width: 40%;
    }
}
