* {
    margin: 0;
    padding: 0;
    border: border-box;
}

body {
    background-color: #000;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    color: #fff;
    width: 100%;
    height: auto;
}

.container {}

.one {
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    margin-top: 2vh;
    line-height: normal;
    color: rgb(23, 221, 126);
    margin-bottom: 2vh;
}

.one:hover {
    cursor: text;
}

.two {
    background-color: #161616;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(255, 255, 255);
    padding: 4px;
}

.three {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    background-color: #080808;
    border: none;
    display: flex;
    height: 64px;
    flex-direction: row;
}

.line {
    height: 32px;
    font-size: 24px;
    padding: 4vh;
}

.navbar {
    text-decoration: none;
    color: #fff;
}

.logo {
    margin-left: 36px;
}

.content {
    margin-left: 233px;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    font-weight: 750;
    font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    margin-bottom: 20px;
    font-size: 14px;
}

.search {
    display: flex;
    flex-direction: row;
    width: 84px;
    height: 32px;
    margin-left: 270px;
    margin-top: 20px;
}

.fa-regular {
    margin-top: 9px;
}



.four-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 197px;
    margin-top: 177px;
}


.four-3 {


    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    color: #dfdada;
    width: 26%;
    opacity: 0.5;
}

.four-2 {
    margin-right: 165px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -400px;
    border-radius: 15px;
}

.h3 {
    font-size: 52px;
    line-height: 30px;
    margin: 0 0 40px;
    font-family: "Roboto", sans-serif;
    color: white;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 700;
}

.h3 span {
    font-family: "Homemade Apple", cursive;
    letter-spacing: 0;
    font-size: 49px;
    padding-left: 0;
    margin-left: 7px;
    line-height: 70px;
    color: #d0ff00;
    font-weight: 300;
}

.btn {
    transition: ease all 0.3s;
    font-size: 17px;
    line-height: 1.6;
    padding: 12px 55px;
    color: #000;
    border: solid 2px #17dd7e;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    border-radius: 30px;
    font-weight: 550;
    letter-spacing: 1px;
    display: inline-block;
    background-color: #17dd7e;
    margin-left: -6px;
    margin-top: 18px;
    width: 12%;
    gap: 10px;
    letter-spacing: 2px;
}

.btn:hover {
    color: #000;
    box-shadow: 0px 0px 30px #17dd7e;
}

.five {
    justify-content: center;
    padding-right: 0;
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.discp {
    letter-spacing: 0px;
    color: #ffffff;
    font-size: 18px !important;
    line-height: 22px;
    font-family: Montserrat, sans-serif;
    width: 87%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    margin-top: -104px;
    margin-left: 20px;
    font-weight: 400;
    cursor: pointer;
}

.discp span {
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
}

.five-1 {
    margin-right: 17px;
    border-radius: 20px;
    cursor: pointer;
}

#five-id {
    padding-left: 167px;
}

#arrow {
    margin-left: 122px;
    cursor: pointer;
}

.six {
    text-align: center;
    background-color: #000;
    margin-top: 10px;
    backface-visibility: hidden;
    height: 750px;
}

.section_title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9200f7;
    font-size: 65px;
    font-family: "Roboto", sans-serif;
    letter-spacing: normal;
    background-color: #000;
    padding-top: 47px;
}

.section_title span {
    font-size: 70px;
    color: #fff;
    font-weight: 400;
    font-family: "Homemade Apple", cursive;
}

.six-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sect {
    background-color: #181717;
    border: 2px solid black;
    width: 15%;
    display: flex;
    flex-direction: row;
    height: 142px;
    border-radius: 22px;
    margin: 9px;
    padding-left: 40px;
}

.img5 {
    width: 16%;
    border-radius: 22px;
    margin-left: -51px;
}

.seven {
    display: flex;
    flex-direction: row;

    border: 0px solid rgb(0, 0, 0);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 100%;
    gap: 14px;
    height: 370px;
    padding: 0px;
    margin: 0px;
    z-index: 0;
    font-size: inherit;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.seven::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}


.grid {
    border-radius: 2px;
    width: 100%;
    height: 100%;


}



.i4 {
    width: 26%;
    height: 65px;
    margin-top: 36px;
    margin-left: -16px;
}

.para1 {
    margin: 0;
    font-size: 21px;
    font-family: MontserratSemiBold;
    font-weight: 550;
    padding: 29px;
    padding-top: 39px;
}

.eight {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.eight-1 {
    display: flex;
    flex-direction: row;
}

.eight-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img7 {
    margin-left: -523px;
    margin-top: 164px;
}

.img8 {
    margin-left: 172px;
}

.custom {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #d0ff00;
    font-size: 57px;
    margin-top: 320px;
    margin-left: 21px;
    letter-spacing: 1px;
}

.para3 {
    color: white;
    font-family: "Homemade Apple", cursive;
    font-weight: 200;
    margin-top: -37px;
}

.para_animaction_top1 {
    width: 60%;
    font-size: 19px;
    margin-top: 33px;
    margin-left: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.para_animaction_top2 {
    width: 60%;
    font-size: 19px;
    margin-top: 33px;
    margin-left: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-2 {
    transition: ease all 0.3s;
    font-size: 16px;
    line-height: 1.6;
    padding: 12px 55px;
    color: #17dd7e;
    border: solid 2px #17dd7e;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline-block;
    width: 40%;
    margin-top: 62px;
    margin-left: 28px;
    background-color: #000;
}

.btn-2:hover {
    box-shadow: 0px 0px 30px #17dd7e;
    color: #000;
    background-color: #17dd7e;
}

.nine {
    display: flex;
    flex-direction: row;
    background-color: #1c192a8c;
    backdrop-filter: blur(10px);
    z-index: 1;
    flex-wrap: wrap;
    padding: 35px 65px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 15px;
    width: 74vw;
    margin: 32px 115px 15px 115px;
    height: 66px;
}

.nine-1 {
    display: flex;
    flex-direction: row;
}

.para9 {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 26px;
    font-family: Montserrat, sans-serif;
}

.para9-1 {
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat, sans-serif;
    font-size: 21px;
    margin-top: 11px;
}

.img9-1 {
    margin-left: -72px;
    margin-top: -4px;
}

#arr {
    height: 44px;
    width: 30%;
    margin-top: 18px;
}

.ten {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 160px;
    margin-right: 195px;
}

.ten-1 {
    margin-left: 165px;
}

.ten-2 {
    margin-left: 105px;
}

.btn10 {
    cursor: pointer;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font: 1.125rem Oswald, Arial, sans-serif;
    height: 56px;
    letter-spacing: 1px;
    margin: 0 25px 0 auto;
    padding: 14px;
    position: relative;
    text-decoration: none;
    width: 240px;
    z-index: 1;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: 2.7px solid transparent;
    border-radius: 40px;
    border-image: linear-gradient(45deg, #ae0fb4, #cf03e6, #b4e307) 1;
    align-content: center;
}

.btn10:hover {
    background-image: linear-gradient(72deg, #8629cf 0, #fe0f90 51%, #f5b936 100%);
    color: #fff;
}

.para10 {
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
}

.floro_btn_animaction_top1 {
    margin-top: 50px;
}

.eleven {
    text-align: center;
    display: block;
    box-sizing: border-box;
    margin-top: 105px;
}

.eleven-1 {
    color: #9200f7;
    font-size: 60px;
    font-family: "changa", sans-serif;
    letter-spacing: 3px;
}

.eleven-1 span {
    font-family: "Homemade Apple", cursive;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}

.jazz {

    font-family: "Homemade Apple", cursive;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    margin-left: 20px;
}

.jazz-h2 {

    font-size: 52px;
    line-height: 30px;
    margin: 2px 4px;
    margin-left: 2px;
    font-family: "Roboto", sans-serif;
    color: #9200f7;
    letter-spacing: 2;
    font-style: normal;
    font-weight: 700;

}


.eleven-2 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -43px;
    display: flex;
    flex-direction: column;
}

.twelve {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 75px 0 0;
}

.grid {
    margin-bottom: 55px !important;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    overflow: auto;
    margin-bottom: 35px;
    list-style: none;
    padding: 0;
}

.thirteen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.thirteen-1 {
    width: 50%;
    border-radius: 18px;
    padding: 30px;
}

.thirteen-2 {
    width: 25%;
    padding: 8px;
}

.fourteen {
    padding: 20px 65px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 70px auto 0;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    background-color: #1c1f339e;
    backdrop-filter: blur(10px);
}

.fifteen {
    display: flex;
    flex-direction: row;
}

.fifteen-1 {
    display: flexbox;
    flex-direction: column;
    width: 30%;
    padding: 170px;
}

.fifteen-2 {
    display: flexbox;
    flex-direction: column;
    width: 70%;
}


/* Media Queries for responsiveness */

@media (max-width: 1200px) {
    .content {
        margin-left: 0;
        text-align: center;
    }

    .four-1,
    .four-3,
    .four-2 {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;

    }

    .h3,
    .btn,
    .section_title {
        text-align: center;
    }

    #img14 {
        width: 40%;
    }
}

@media (max-width: 768px) {

    .btn,
    .three,
    .btn-2,
    .ten-1,
    .ten-2,
    .nine {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .six-2 {
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 110px;
        padding: 0 10px 0 5px;

    }

    .search {
        margin-top: -121px;
        margin-right: -10px;
    }



    .content {
        margin-left: 0;
    }

    .btn,
    .btn-2 {
        width: 80%;
        margin-left: 0;
    }

    .para10 {
        text-align: center;
    }

    .ten-1,
    .ten-2 {
        margin-left: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .nine,
    .six,
    .five,
    .four,
    .one,
    .seven,
    .eight,
    .ten,
    .eleven,
    .five-1 {
        flex-direction: column;
        height: auto;
        padding: 20px;
        display: grid;
        justify-content: center;
    }

    .four-2 {
        border-radius: 10px;
        height: auto;
        width: 100%;
        top: 0;
        order: 1;
        justify-content: center;
    }

    .eight-2 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .five-1 {
        margin-bottom: 40px;
    }

    .two {
        height: 70px;
        width: max-content;
    }

    .p {
        font-size: 12px;
    }

    #img14 {
        width: 40%;
    }


}

@media (max-width: 480px) {
    .four {
        margin-bottom: 10px;
    }

    .h3 {
        font-size: 32px;
    }

    .h3 span {
        font-size: 29px;
    }

    .section_title {
        font-size: 40px;
    }

    .section_title span {
        font-size: 45px;
    }

    .btn,
    .btn-2 {
        font-size: 14px;
        padding: 10px 40px;
    }

    .para1,
    .para3,
    .para9,
    .para9-1,
    .para10,
    .eleven-1,
    .eleven-2 {
        font-size: 16px;
    }

    .para_animaction_top1,
    .para_animaction_top2 {
        font-size: 16px;
    }

    .nine,
    .six,
    .five,
    .four,
    .one,
    .seven,
    .eight,
    .eleven,
    .fourteen,
    .thirteen {
        display: grid;
        align-content: space-between;
        align-items: center;
        justify-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .grid {
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: auto;
        align-content: center;
        margin-left: 0;
    }

    .content {
        flex-wrap: wrap;
    }

    .btn,
    .three,
    .btn-2,
    .ten-1,
    .ten-2,
    .ten,
    .nine,
    .floro_btn_animaction_top1,
    .fourteen,
    .thirteen {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    .five-1 {
        margin-bottom: 40px;
    }

    #img14 {
        width: 40%;
    }
}
